<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% extends "base.html" %}
    {%block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Registro de novo usuário2</title>
</head>
<body>
    {%csrf_token %}

    <main class="geral">
        <form method="post" enctype="multipart/form-data">
            <table>
                {{user_form.as_table}}
            </table>
        </form>

    </main>

</body>
{%endblock %}
</html>