
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% extends "base.html" %}
    {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de carros</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    
</head>

<body>
    
    <header>
        
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="sair">Sair</a> 
            <ul class="links">
            
                <li>Olá {{nome}}</li>
                <li><a href="{% url 'novo_carro' %}">Cadastrar carro</a></li>
            </ul>
            {% else %}
                <ul class="links">
                    <li><a href="{% url 'novo_usuario' %}"></a>Cadastre-se</li>
                    <li><a href="{% url 'login_usuario' %}">Login</a></li>
            {% endif %}

                <li><a href="{% url 'carros_lista' cpf=cpf nome=nome %}">Carros</a></li>
            </ul>
       
    </header>


    <main>
        <form method="GET" action="{% url 'carros_lista' cpf=cpf nome=nome %}">
            <input type="text" name="search" placeholder="Buscar carro...">
            <input type="text" name="data" placeholder="Ano do modelo...">
            <button type="submit">Buscar</button>
        </form>

        <section id="grid" class="car-grid">
            {% if carros %}
                {% for carro in carros %}
                <div class="car-card">
                    <abbr title="Ver detalhes do produto"><a href="{% url 'detalhes' carro.id %}" target="_blank"><img src="{{carro.carro_foto.url}}"></a></abbr>
                    <h2>{{carro.marca}} {{carro.modelo}}</h2>
                    <p> {{carro.ano_modelo}} - R$ {{carro.valor}} </p>
                </div>
                {% endfor %}
            {% else %}
                <p class="no-results">Nenhum carro encontrado.</p>
            {% endif %}
        </section>
</main>

</body>
{%endblock %}
</html>