<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="shortcut icon" href="{% static 'images/Siap 200.png' %}">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Detalhe do produto</title>

</head>
<body class="meio">
    <abbr title="Siap Sistemas"><img src="{% static 'images/siap 200.png'%}" alt="siap"></abbr>
    <h1 class="titulo"><i>SIAP</i> Automobilisticos</h1>
    <main>
            <div class="car-card detail">
                <img src="/media/{{carro.carro_foto}}" alt="{{produto.modelo}} - {{produto.marca}}">
                <div class="group">
                    <p class="field">{{carro.marca}} {{carro.modelo}}</p>
                </div>
                <div class="group">
                    <p class="field"><strong>Ano de fabricação: </strong>{{carro.ano_fabricacao}}</p>
                    <p class="field"><strong>Ano do modelo: </strong>{{carro.ano_modelo}}</p>
                </div>
                <div class="group">
                    <p class="field"><strong>Placa: </strong>{{carro.placa}}</p>
                    <p class="field"><strong>Valor: </strong>{{carro.valor}}</p>
                </div>
                
            </div>
            <section style="text-align: center;" id="botao"> 
                <a class="botao atualizar" href="{% url 'atualizar_carro' carro.id %}">Editar dados</a>
                
                <a class="botao deletar" 
                hx-get="{% url 'confirmar' pk=carro.pk %}?cpf={{cpf}}&nome={{nome}}" 
                hx-target="#modal-container" 
                hx-trigger="click" 
                hx-swap="innerHTML">Deletar</a>
            </section>
    </main>
    <div id="modal-container"></div>

    <footer class="footer">Desenvolvido por SIAP Sistemas</footer>




    <script>
       document.body.addEventListener("htmx:afterSwap", function(evt) {
        if (evt.target.id === "modal-container") {
            const confirmarbtn = document.getElementById('confirmar');
            if (confirmarbtn) {
                    confirmarbtn.addEventListener("click", function() {
                        console.log("tentou deletar");
                    });
                }
            }
        });

    </script>

</body>

</html>

