<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/Siap 200.png' %}">
    
</head>
<body>
  
    <header>
        <abbr title="Siap Sistemas">
            <img src="{% static 'images/Siap 200.png' %}" alt="Siap">
            <h1 class="azul">Siap Automobilisticos</h1>
        </abbr>   
    </header>
    
  {% block content %} 
  <main>
    
    
  </main>
  {% endblock %}
  
  <footer>
    <p>&copy; 2023 PycodeBR Multimarcas</p>
  </footer>
  
</body>

</html>